@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    color: #0b0b0bba !important; 
    margin: 0;
    display: flex; 
    flex-direction: column;    
    align-items: center;    
    padding-top: 120px;   
    font-family: "Raleway", sans-serif;  
    min-height: 100vh;    
    position: relative; 
}

body::before {  
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/background/noisetexture.png') repeat;
    opacity: 0.15;
    pointer-events: none;
}

body > * {
    position: relative;
    z-index: 1;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
 
.choices {
    color:#0f0f0f; 
    padding: 8px 4px; 
    text-align: left;
}

.container {
    max-width: 1200px; 
    width: 100%;  
    margin-left: auto; 
    margin-right: auto;
}

.icon--frosted {
    fill: rgba(255, 252, 252, 0.8); 
}

.text-frost-effect {
    color: rgba(255, 252, 252, 0.8);
} 
  
.glass-effect {
    /* background-color: #ffffff26;
    backdrop-filter: blur(6px); 
    border: 2px solid rgba(255, 252, 252, 0.18); */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button { 
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    font-size: 16px;  
}



.spinner {
    animation: rotator 1.4s linear infinit e;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
 
@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }  
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% { stroke-dashoffset: 47; transform:rotate(135deg); }
    100% { stroke-dashoffset: 187; transform:rotate(450deg); }
} 